* {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 0px;
    align-items: center;
    border-bottom: solid 1px #f49d0f;
    column-gap: 25px;
}
header img {
    display: block;
    width: 700%;
    height: auto;
}
header span {
    font-size: 1.2rem;
    color: black;
}
.hamburger {
    background: none;
    margin-left: 20rem;
    border: none;
    color: #0948b1;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hamburger::before {
    content: "\2630";
    font-size: 1.5rem;
}
.hamburger.show::before {
    content: "\00D7";
}
.navigation {
    display: none;
    background-color: white;
}
.navigation.show {
    display: block;
}
.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navigation a {
    display: block;
    padding: 0.8rem 12px;
    color: #0948b1;
    text-decoration: none;
    text-align: left;
    border-bottom: solid 1px #f49d0f;
}
.navigation a:hover {
    background-color: #0097a7;
    color: #0948b1;
}
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: left;
    height: calc(100vh - 120px);
    padding: 0.5rem;
    background-image: url("../images/hero.webp");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    color: #fff;
}
.hero-container {
    margin: 0.1rem;
    padding-top: 0.2rem;
}
.hero h1{
    font-size: 3rem;
    margin: 0;
    letter-spacing: 2px;
    text-align: left;
    padding-left: 1rem;
}
.hero h2 {
    font-size: 2.5rem;
    margin: 10px 0;
    font-weight: 300;
    text-align: left;
    color: #0097a7;
    padding-left: 1rem;
}

.hero p {
    font-size: 0.7rem;
    text-shadow: 0 3px 6px rgba(255, 249, 249, 0.17);
    margin-top: 0.1rem;
    padding-left: 1rem;
}

.hero-btn {
    color: rgb(255, 255, 255);
    background-color: #0948b1;
    padding: 2% 2rem;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    bottom: -4rem;
    left: 2%;
    transform: translate(50%);
    border-radius: 20px;
    margin-top: 1.5rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.27);
}
footer {
    background-color:#0948b1;
    padding: 0.5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:20px;
}
footer p {
    text-align: center;
    color: #ffffff;
    font-size: 0.5rem;
}
.social {
    display: flex;
    justify-content: center;
    column-gap: 4px;
    padding-top: 20px;
}
.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border: white 1px solid;
    border-radius: 50%;
}
.social img {
    width: 15px;
    height: 15px;
}
.social a:hover {
    background-color: #00bef2;
}
.info-text {
    display: block;
    padding-top: 10%;
    text-align: center;
}
footer p {
    font-size: 8px;
}
.aboutUs {
    display: block;
    gap: 15px;
    margin: 0.9px;
    padding: 5px;
    background-color: #f49d0f;
}
.company {
    flex: 1 1 30%;
    text-align: center;
    background-color: white;
    margin: 5px;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 0 2px 6px rgba(25, 24, 24, 0.1);
}
.company img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.27); 
    opacity: 0;
    filter: blur(4px);
    transform: translateY(20px);
    animation: fadeInTable 1.5s ease-out forwards;
}
@keyframes fadeInTable {
    to {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}

h1 {
    color: #0948b1;
    text-align: center;
}
.company p {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: #0948b1;
}
#cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    background-color: #ffffff;
    border: #0948b1;
}
section {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    padding: 0.5rem;
    border: 3px solid #0581b0;
    border-radius: 12px;
    align-items: left;
    background-color: white;
}
section img {
    border: solid 2.5px #f49d0f;
    border-radius: 8px;
    box-shadow: 0 0 10px #b6b6b6;
    filter: drop-shadow(0.5px 0.5px 0.5px #e0e0e0);
    margin: 20px;
    width: 85%;
    height: 80%;
    opacity: 0;
    filter: blur(4px);
    transform: translateY(20px);
    animation: fadeInTable 1.5s ease-out forwards;
}   
@keyframes fadeInTable {
    to {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}
section>h2 {
    margin: 5px;
    color: #0948b1;
}
section>p {
    margin: 3px;
    color:#0948b1;
}
#placeModal {
    font-size: 15px;
    border: 3px solid #0581b0;
}
#placeModal button {
    margin-top: 0.5px;
}
#placeModal p, h2 {
    margin-top: 4px;
    padding: 1px;
    text-align: left;
    color: #0948B1;
}
dialog {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 3rem #a1a1a1;
    width: 40%;
    max-width: 900px;
    color: rgb(255, 255, 255);
    font-size: 20px;
}
::backdrop {
    background-color: rgba(244, 187, 56, 0.5);
}
dialog button {
    position: absolute;
    top: 23px;
    right: 23px;
    color: #0000ee;
    padding: 0.2rem 0.3rem;
    border: 1.3px solid #0000ee;
}
.infoBtn{
    background-color:#0000ee;
    border-radius: 5px;
    border: 1px solid #0000ee;
    color: white;
    width: 50%;
    padding: 5px;
    margin-left: 85px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
} 
.infoBtn:hover {
    transform: translateY(-10px) scale(1.07);
    box-shadow: 0 10px 20px #b6b6b6;
}
.wf fieldset {
    margin: 2rem auto;
    padding: .5rem 2%;
    max-width: 385px;
    border: 3px solid #0581b0;
    border-radius: 12px;
    align-items: left;
    background-color: white;
}
.wf input[type="text"],input[type="tel"],input[type="email"],
.wf select {
    background-color: white;
    display: block;
    border: 1px solid #0581b0;
    border-radius: 6px;
    padding: 0.75rem;
    color: #0581b0;
    width: 900%;
    max-width: 350px;
    margin-top: 5px;
    margin-bottom: 10px;
    appearance: none;
}
.wf textarea {
    background-color: white;
    display: block;
    border: solid 1.3px #0581b0;
    border-radius: 6px;
    padding: .75rem;
    color: #0581b0;
    width: 100%;
    max-width: 350px;
    appearance: none;
    margin-top: 5px ;
    margin-bottom: 10px;
}
.wf input[type="submit"] {
    background-color: #0000ee;
    border-radius: 5px;
    border: 1px solid #0000ee;
    color: white;
    padding: 15px;
    margin: 10px 230px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.wf input[type="submit"]:hover {
    transform: translateY(-10px) scale(1.07);
    box-shadow: 0 10px 20px #b6b6b6;
}
.wf input[type="submit"]:active {
    background-image: linear-gradient(#774f09, #967815);
}
.optional {
    font-size: 0.8rem;
    color: #0581b0;
    font-style: italic;
}
.review h1,
.review h2 {
    text-align: center;
    padding: 2rem;
    border-radius: 6px;
    max-width: 600px;
    margin: 2rem auto;
    color: #0948B1;
    font-family: Arial, Helvetica, sans-serif;
}
.wf label:not(.star-rating label) {
    display: block;
    padding-top: 1rem;
    color: #0948B1;
    font-size: 0.9rem;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

