/* BASE STYLES */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
* {
    font-family: dosis, sans-serif;
}

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 8px;
    align-items: center;
    border-bottom: solid 1px rgb(188, 188, 188);
    column-gap: 25px;
    font-family: dosis, sans-serif;
}

header h1 {
    grid-column: -1 / -1;
    font-size: 2.5rem;
    color: rgb(36, 7, 80);
}

header img {
    display: block;
    width: 200%;
    height: auto;
}

header span {
    font-size: 1.2rem;
    color: rgb(36, 7, 80);
    font-weight: 600;
}

.hamburger {
    background: none;
    border: none;
    color: rgb(36, 7, 80);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
    font-size: 1.5rem;
}

.hamburger.show::before {
    content: "\00D7";
}

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: 0.8rem 12px;
    color: rgb(36, 7, 80);

    text-decoration: none;
    text-align: left;
    border-bottom: solid 1px rgb(143, 143, 143);
}

.navigation a:hover {
    background-color: orange;
    color: rgb(36, 7, 80);
}
.navigation li.current a {
    background-color: rgb(36, 7, 80);
    color: white;
}

h1 {
    margin-left: 12px;
    color: rgb(36, 7, 80);
}

h2 {
    color: rgb(36, 7, 80);
}
h3 {
    color: rgb(36, 7, 80);
}

footer {
    background-color: orange;
    padding: 1rem 8px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

footer p {
    text-align: center;
    color: rgb(36, 7, 80);
    font-size: 0.9rem;
    font-weight: 600;
    font-family: dosis, sans-serif;
}
.social {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
}

.social a {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    border: rgb(36, 7, 80) 1px solid;
    border-radius: 15%;
}
.social img {
    width: 15px;
    height: 15px;
}
.social a:hover {
    background-color: rgb(188, 188, 188);
}

.info-text p {
    display: block;
    margin: 0.1rem;
    text-align: left;
    font-size: 0.7rem;
}

/*DIRECTORY STYLES*/

#cards section>h2 {
    margin: 0.1rem;
    font-size: 1rem;
    color: rgb(36, 7, 80);

}
#cards section>p {
    margin: 0.1rem;
    color: rgb(36, 7, 80);
    font-size: 0.8rem;
}

#cards img {
    max-width: 100px;
    height: 70px;
    margin-top: 30px;
    filter: drop-shadow(3px 3px 3px rgb(128, 113, 113));
}

#directory {
    margin: 2rem;
    position: relative;
    padding: 20px;
}

#directory h2 {
    font-size: 1.5rem;
    margin: 0 0 1rem 0;
}

.button-menu {
    padding: 0.5rem;
    text-align: center;
}

.button-menu button {
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border: solid 1px white;
    border-radius: 5px;
    background-color: orange;
    color: rgb(36, 7, 80);
    cursor: pointer;
    font-size: 1.1rem;
}

.button-menu button:hover {
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border: solid 1px white;
    border-radius: 5px;
    background-color: rgb(36, 7, 80);
    color: white;
    cursor: pointer;
}

.member {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.25rem;
    padding: 0.35rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    color: rgb(36, 7, 80);
    height: 310px;
}

.member h3 {
    font-size: 0.8rem;
}

.member p {
    font-size: 0.5rem;
}

.member a {
    font-size: 0.5rem;
    color: black;
}

.grid {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    grid-gap: 5px;
    align-items: center;
}

.grid section {
    text-align: center;
    background-color: rgb(174, 173, 173);
    box-shadow: 3px 3px 3px rgb(86, 84, 84);
}

.grid section>* {
    margin: 0.1rem;
}

.list {
    display: flex;
    flex-direction: column;
}

.list section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "title phone"
        "address1 email"
        "address2 .";
    margin: 0;
    height: auto;
}

.list section>* {
    margin: 0 1rem;
}

.list section img {
    display: none;
}

.list section h3 {
    font-size: 0.75rem;
    grid-area: title;
}

.list section p:nth-of-type(1) {
    grid-area: address1;
}

.list section p:nth-of-type(2) {
    grid-area: address2;
}

.list section p:nth-of-type(3) {
    grid-area: phone;
}

.list section a {
    grid-area: email;
}

.list section:nth-child(even) {
    background-color: #a6a7a9;
}
.list section:nth-child(odd) {
    background-color: #d4d4d4;
}