*{
    font-family: dosis, sans-serif;
}
header {
    display: grid;
    grid-template-columns: 24px auto 24px;
    padding: 5px 0 5px 8px;
    align-items: center;
    border-bottom: solid 1px rgb(188, 188, 188);
    column-gap: 25px;
    font-family: dosis, sans-serif;
}

header h1 {
    grid-column: -1 / -1;
    font-size: 2.5rem;
    color: rgb(36, 7, 80);
    font-family: dosis, sans-serif;
}

header img {
    display: block;
    width: 200%;
    height: auto;
}

header span {
    font-size: 1.2rem;
    color: rgb(36, 7, 80);
    font-weight: 600;
    font-family: dosis, sans-serif;
}

.hamburger {
    background: none;
    border: none;
    color: rgb(36, 7, 80);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
    font-size: 1.5rem;
}

.hamburger.show::before {
    content: "\00D7";
}

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: 0.8rem 12px;
    color: rgb(36, 7, 80);
    font-family: dosis, sans-serif;
    text-decoration: none;
    text-align: left;
    border-bottom: solid 1px rgb(143, 143, 143);
}

.navigation a:hover {
    background-color: orange;
    color: rgb(36, 7, 80);
}
.navigation li.current a {
    background-color: rgb(36, 7, 80);
    color: white;
}

h1 {
    margin-left: 12px;
    color: rgb(36, 7, 80);
    font-family: dosis, sans-serif;
}

h2 {
    color: rgb(36, 7, 80);
    font-family: dosis, sans-serif;
}
h3 {
    color: rgb(36, 7, 80);
    font-family: dosis, sans-serif;
}

footer {
    background-color: orange;
    padding: 1rem 8px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

footer p {
    text-align: center;
    color: rgb(36, 7, 80);
    font-size: 0.9rem;
    font-weight: 600;
    font-family: dosis, sans-serif;
}
.social {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
}

.social a {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    border: rgb(36, 7, 80) 1px solid;
    border-radius: 15%;
}
.social img {
    width: 15px;
    height: 15px;
    background-color: orange;
}
.social a:hover {
    background-color: rgb(188, 188, 188);
}

.info-text p {
    display: block;
    margin: 0.1rem;
    text-align: left;
    font-size: 0.7rem;
    font-family: dosis, sans-serif;
}

/*DIRECTORY*/

#cards section>h2 {
    margin: 0.1rem;
    font-size: 1rem;
    color: rgb(36, 7, 80);
    font-family: dosis, sans-serif;

}
#cards section>p {
    margin: 0.1rem;
    color: rgb(36, 7, 80);
    font-size: 0.8rem;
    font-family: dosis, sans-serif;
}

#cards img {
    max-width: 100px;
    height: 70px;
    margin-top: 30px;
    filter: drop-shadow(3px 3px 3px rgb(128, 113, 113));
}

#directory {
    margin: 2rem;
    position: relative;
    padding: 2px;
}

#directory h2 {
    font-size: 1.5rem;
    margin: 0 0 1rem 0;
    font-family: dosis, sans-serif;
}

.button-menu {
    padding: 0.5rem;
    text-align: center;
}

.button-menu button {
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border: solid 1px white;
    border-radius: 5px;
    background-color: orange;
    color: rgb(36, 7, 80);
    cursor: pointer;
    font-size: 1.1rem;
    font-family: dosis, sans-serif;
}

.button-menu button:hover {
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border: solid 1px white;
    border-radius: 5px;
    background-color: rgb(36, 7, 80);
    color: white;
    cursor: pointer;
    font-family: dosis, sans-serif;
}
 img {
     background-color: white;
 }

.grid {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    grid-gap: 30px;
    align-items: center;
    padding-bottom: 30px;
}

.grid section {
    text-align: center;
    font-family: dosis, sans-serif;
    width: 50%;
    height: auto;
    background-color: white;
    border: solid 1px rgb(143, 143, 143);
    box-shadow: 3px 3px 3px rgb(65, 63, 63);
}

.grid section>* {
    margin: 0.1rem;
}

.list {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.list section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "title phone"
        "address1 email"
        "address2 .";
    margin: 0;
    height: auto;
}

.list section>* {
    margin: 0 1rem;
    font-family: dosis, sans-serif;
}

.list section img {
    display: none;
}

.list section h3 {
    font-size: 0.75rem;
    grid-area: title;
    font-family: dosis, sans-serif;
}

.list section p:nth-of-type(1) {
    grid-area: address1;
}

.list section p:nth-of-type(2) {
    grid-area: address2;
}

.list section p:nth-of-type(3) {
    grid-area: phone;
}

.list section a {
    grid-area: email;
}

.list section:nth-child(even) {
    background-color: #a6a7a9;
}
.list section:nth-child(odd) {
    background-color: #d4d4d4;
}
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    text-align: right;
    height: calc(100vh - 120px);
    padding: 1.5rem;
    background-image: linear-gradient(to bottom,
        rgba(36, 7, 80),
        rgba(0, 0, 0, 0.4)),
        url("../images/hero-image.webp");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    color: #fff;
}
.hero-container {
    margin: 0.1rem;
    padding-top: 0.5rem;
}
.hero h2 {
    font-size: 3rem;
    padding: 0.5rem;
    color: #ffffff;
    text-shadow: 0 3px 6px rgba(255, 255, 255, 0.17);
}
.hero p {
    font-size: 1.8rem;
    text-shadow: 0 3px 6px rgba(255, 249, 249, 0.17);
    margin-top: 0.1rem;
}
.hero-btn {
    color: rgb(36, 7, 80);
    background-color: orange;
    padding: 2% 2rem;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 2rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.27);
}   
.hero a:hover {
    background-color:rgb(36, 7, 80);
    color: orange;
    cursor: pointer;
    font-family: dosis, sans-serif;
}
#content {
    display: block;
    margin: 1rem 0;
    padding: 0.5rem;
    text-align: center;
}
.card-weather {
    background-color: white;
    text-align: center;
    width: 100%;
    color: rgb(36, 7, 80);
}
.card-weather h1 {
    color: rgb(36, 7, 80);
    border-radius: 10px;
    background-color: orange;
    border-right: #747171 solid;
}
.card-weather #description {
    text-transform: capitalize;
    color: rgb(23, 53, 53);
    margin: 0.3rem 0;
}
.card-forecast ul {
    list-style-type: none;
    font-size: 1.3rem;
    color: rgb(36, 7, 80);
}
.card-weather #temperature {
    font-size: 2rem;
    color: rgb(36, 7, 80);
    margin: 0.3rem 0;
}
.events {
    background-color: rgb(237, 237, 237);
}
.events h1 {
    color: rgb(36, 7, 80);
    border-radius: 10px;
    background-color: orange;
    border-right: #747171 solid;
}
.events img {
    width: 100%;
}    
.events h4 {
    font-size: 1rem;
}
.events p {
    font-size: 1rem;
    padding-bottom: 15px;
}
.spotlight-div {
    background-color: rgb(237, 237, 237);
}
.spotlight-div h1 {
    color: rgb(36, 7, 80);
    border-radius: 10px;
    background-color: orange;
    border-right: #747171 solid;
}
#weather-list  {
    display: block;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: 1px solid #ccc;
    align-items: center;
    padding: 2px;
}
.card-forecast h3{
    font-size: 18px;
    color: rgb(36, 7, 80);
}
.day-name {
    font-weight: bold;
    font-size: 1.3rem;
}
.temperature,
.description {
    font-size: 0.9rem;
}
.weather-icon {
    width: 50px;
}

/*JOIN*/
.form-mode {
    display: grid;
    margin: 1px auto;
}
.f1 fieldset {
    margin: 2rem 50px;
    border: 1px solid rgb(36, 7, 80);
    border-radius: 6px;
    padding: 0.5rem 2% 2%;
}
.f1 legend {
    background-color: rgb(36, 7, 80);
    color: white;
    padding: 0.5rem;
    font-style: italic;
    font-family: dosis, sans-serif;
}
.f1 label {
    display: block;
    padding-top: 1rem;
    color: rgb(36, 7, 80);
    font-size: 1.2rem;
}
.f1 div {
    padding-top: 1rem;
    color: rgb(36, 7, 80);
    font-size: 1.2rem;
}
.f1 input[type="text"],
.f1 input[type="tel"],
.f1 input[type="email"],
.f1 input[type="company"],
.f1 input[type="date"],
.f1 select,
.f1 input[type="number"],
.f1 input[type="hidden"] {
    background-color: white;
    display: block;
    border: solid 1px rgb(36, 7, 80);
    border-radius: 6px;
    padding: 0.35rem;
    color:rgb(36, 7, 80);
    font-size: small;
    width: 93%;
    max-width: 320px;
    appearance: none;
}
.f1 input[type="radio"],
.f1 input[type="checkbox"] {
    margin-right: 6px;
}
.f1 button[type="submit"] {
    border: none;
    background: rgb(36, 7, 80);
    color: rgb(255, 255, 255);
    border-radius: 6px;
    padding: 0.8rem;
    width: 30%;
    max-width: 250px;
    margin: 1rem 2% 1rem 24%;
    box-shadow: 1px 1px 4px #999;
    margin-left: 35%;
}
.f1 input:required {
    border-left: solid 7px orange;
}
.f1 input:required:valid {
    border-left: solid 7px rgb(36, 7, 80);
}
.form-mode label.f2 textarea {
    background-color: rgb(255, 255, 255);
    display: flex;
    font-size: 1rem;
    border: solid 1px rgb(36, 7, 80);
    border-radius: 4px;
    padding: 1rem;
    color: rgb(36, 7, 80);
    width: 260px;
}
/* TABLE */
:root {
    --font-color: rgb(36, 7, 80);
    --input-border-color: rgb(36, 7, 80);
    --invalid-color: rgb(36, 7, 80);
    --valid-color: orange;
}
body {
    font-family: dosis, sans-serif;
    font-size: small;
    display: grid;
}
table {
    margin: 30px 15% 50px 25%;
    border: 0.3px solid rgb(36, 7, 80);
    border-collapse: collapse;
    background-color: white;
    opacity: 0;
    filter: blur(4px);
    transform: translateY(20px);
    animation: fadeInTable 1.5s ease-out forwards;
}
        
@keyframes fadeInTable {
    to {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}

tr:first-child th,
.highlight {
    background-color: rgb(36, 7, 80);
    color: white;
}
th,
td {
    padding: 15px 8px;
    color: black;
}
th {
    background-color: var(--back2);
    color: var(--font-color);
    font-size: larger;
}
td {
    text-align: center;
    font-size: larger;
}
tbody tr:nth-child(odd) {
    background-color: var(--zebra);
}
table tr:nth-child(even) {
    background-color: #bcbcbc;
}
.thank-you {
    color: rgb(36, 7, 80);
    text-align: center;
    margin: 50px;
}
dialog {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 3rem #777;
    width: 60%;
    max-width: 900px;
    color: rgb(36, 7, 80);
    font-size: 20px;
}
::backdrop {
    background-color: rgba(36, 9, 110, 0.682);
}
dialog button {
    position: absolute;
    top: 23px;
    right: 23px;
    padding: 0.2rem 0.3rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
#closeButton {
    font-size: 10px;
}

/*DISCOVERY MODAL*/

#placeModal{
    font-size: 15px;
}
#placeModal button {
    margin-top: 0.5px;
}
#placeModal p{
    margin-top: 40px;
    padding: 0.5px;
    text-align: left;
}

/* DISPLAY DISCOVERY */

.discover-info div {
    margin: 1rem 8px;
    border: 2.5px solid orange;
    background-color: #bcbcbc;
    border-radius: 8px;
    overflow: hidden;

    display: grid;
    grid-template-areas: 
    "name"
    "imageurl"
    "description"
    "address";
}

.discover-info div h2 {
    margin: 1rem 10px;
    grid-area: name;
    font-size: 25px;
}

.discover-info div img {
    width: 100%;
    grid-area: imageurl;
}

.discover-info div p {
    margin: 1rem 10px;
    grid-area: description;
    font-size: 17px;
    text-align: justify;
}
.discover-info div h3 {
    margin: 1rem 10px;
    grid-area: address;
    font-size: 15px;
    font-style: italic;
    
}
.discover-info div button {
    background-color: rgb(36, 7, 80);
    color: white;
    margin: 5px;
}